<h1>Listing families</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <th>Name</th>
    <th>Primary Adult</th>
    <th>Other Adult(s)</th>
    <th>Child(ren)</th>
    <% @families.each do |family| %>
      <tr>
        <td><%= link_to family.name, family_path(family) %></td>
        <td><%= link_to family.primary_adult.name, edit_adult_path(family.primary_adult) %></td>
        <td><%= family.other_adults.join(', ') %></td>
        <td><%= render family.children %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family', new_family_path %>
